{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<div class="fond1">
        <div class="custom-container text-center">
            <div class="row">
                <div class="col">
                    <img class="img-fluid" style="max-width: 50%;" src="{{ asset('images/avatar.png') }}" alt="">
                </div>
                <div class="col" style="text-align: left;">
                    <br>
                    <br>
                    <br>
                    <h3 class="custom-h3">Trombinoscope</h3>
                    <h1 class="custom-h1">H3 HITEMA</h1>
                    <br>
                    <p class="wtext">Bienvenue sur le Trombinoscope !
                    </p>
                    <br>
                    {#}
                    <button type="button" class="btn btn-custom btn-lg" onclick="copyToClipboard(this)"><i
                                class="bi bi-play-fill"></i> Jouer
                    </button>
                    <span class="space"></span>
                    <span class="custom-button">play.zenavia.net</span>#}
                </div>
            </div>
        </div>
    </div>

<div class="fond2">
        <div class="custom-container text-center">
            <div class="row">
                <div class="col" style="text-align: left;padding-left:8%;margin: auto;">
                    <h3 class="custom-h3">ZENAVIA PRÉSENTE</h3>
                    <br>
                    <h4>Un serveur Minecraft où vous pouvez jouer à votre rythme, avec une communauté <span
                                class="zenacolorhighlight">active et accueillante.</span> Vous pouvez la retrouver en jeu ou via <a class="a_nothing" href="https://discord.gg/zenavia">notre Discord <i class="bi bi-discord"></i>.</a></h4>

                </div>
                <div class="col">
                    <img class="img-fluid" style="max-width: 60%;" src="{{ asset('images/imageasset.png') }}" alt="">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
