<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Social media -->
        <section class="mb-4">

            <!-- YouTube -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.youtube.com/@Zenavia" role="button"
               target="_blank">
                <i class="bi bi-youtube"></i></a>

            <!-- Tiktok -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.tiktok.com/@zenaviamc" role="button"
               target="_blank">
                <i class="bi bi-tiktok"></i></a>


            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/ZenaviaMC" role="button"
               target="_blank">
                <i class="bi bi-twitter"></i></a>

            <!-- Discord -->
            <a class="btn btn-outline-light btn-floating m-1" href="http://discord.gg/EFTytaeybt" role="button"
               target="_blank">
                <i class="bi bi-discord"></i></a>

        </section>
        <!-- Section: Social media -->

        <div class="container">
            <div class="row">
                <div class="col-sm d-flex align-items-center justify-content-center">
                    <img class="img-fluid" style="max-width: 60%;" src="{{ asset('images/zenaviaflat.png') }}" alt="">
                </div>
                <div class="col-sm">
                    À propos
                    <p style="text-align: left;padding-left:8%;margin: auto;font-weight:200;">
                        <br>
                        Zenavia est un serveur Minecraft spécialisé dans les mini-jeux.
                        Nous innovons en repoussant les limites des modes de jeu pour offrir une expérience
                        rafraîchissante et
                        unique à notre communauté.
                    </p>
                </div>
                <div class="col-sm">
                    Liens utiles
                    <ul style="text-align: left;list-style-type: none;font-weight:200;">
                    <br>
                        <li>
                            Nous rejoindre
                        </li>
                        <li>
                            Votez pour le serveur
                        </li>
                    </ul>
                </div>
                <div class="col-sm">
                    En savoir plus
                    <ul style="text-align: left;list-style-type: none;font-weight:200;">
                    <br>
                        <li>
                            <a href="#" class="lienfooter">Règlement</a>
                        </li>
                        <li>
                            <a href="#" class="lienfooter">Politique de confidentialité</a>
                        </li>
                        <li>
                            <a href="#" class="lienfooter">CGU/CGV</a>
                        </li>
                        <li>
                            <a href="https://store.zenavia.net/terms" class="lienfooter" target="_blank">Conditions
                                générales d'utilisation de la boutique</a>
                        </li>
                        <li>
                            <a href="https://store.zenavia.net/terms/privacy" class="lienfooter" target="_blank">Politique
                                de confidentialité de la boutique</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    </div>
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <a class="text-white" href="#">Zenavia</a>
        © 2023 - Tous Droits Réservés
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->